<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
    <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="{{ url_for('index') }}">
            <div class="sidebar-brand-icon"><i class="far fa-chart-bar"></i></div>
            <div class="sidebar-brand-text mx-1"><span>Task Dashboard</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="nav navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" href="{{ url_for('index') }}">
                    <i class="fas fa-tachometer-alt"></i>
                    <span>Status</span>
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link active" href="{{ url_for('task.submit') }}">
                    <i class="fas fa-upload"></i>
                    <span>Submit</span>
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link active" href="{{ url_for('auth.logout') }}">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Logout</span>
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link active" href="{{ url_for('index') }}">
                    <i class="fas fa-question-circle"></i>
                    <span>Help</span>
                </a>
            </li>
        </ul>
    </div>
</nav>